<template>
  <el-row class="kids-grid">
    <KidThumb @thumb_clicked="$emit('thumb_clicked', $event)" @thumb_dblclicked="$emit('thumb_dblclicked', $event)" v-for="kid of kids" :kid="kid" v-bind:key="kid.namedet" :id="kid.namedet"></KidThumb>
  </el-row>
</template>

<script>
import KidThumb from "@/components/KidThumb";
// import Kid from "@/api/kid";

export default {
  data() {
    return {
    }
  },
  name: 'KidsGrid',
  components: {KidThumb},
  props: ["kids"],
  emits: ["thumb_clicked", "thumb_dblclicked"],
  methods: {

  },
}
</script>