<template>

  <el-col  :span="4" class="kid-thumb">
      <img :src="kid.src" width="100"
           @dblclick="$emit('thumb_dblclicked', kid)"
           :class="{ bad : kid.bad }"
           draggable="false" ondragstart="return false;"
           @mousedown="$emit('thumb_clicked', kid)"
      >
      <div>{{ kid.namedet }}</div>
<!--      <Button>{{ kid.namedet }}</Button>-->
    </el-col>
</template>

<script>
import Kid from "@/api/kid";

export default {
  name: 'KidThumb',
  props: {
    src: String,
    kid: Kid
  },
  emits: ['thumb_clicked', 'thumb_dblclicked']


}
</script>

<style>
/*.kid-thumb{*/
/*  display: inline-block;*/
/*}*/

.kid-thumb{
  min-width: 108px;
  min-height: 150px;
}

.kid-thumb, img{
  border: 4px solid transparent;
}

.bad {
    border: 4px solid #e83313;
}

</style>