<template>
  <div id="plot-div">

  </div>
</template>

<script>
import Plotly from 'plotly.js-dist';

export default {
  data() {
    return {
      my_kids: [],
      div_id : "plot-div",
    }
  },
  props: {
    kids: Object,
    namedets: Array,
    filtered_kids: Array,
    matrix: Number
  },
  name: 'PlotlyKidsScatter',
  methods:{
    deselection_handler() {
      this.$emit("update:filtered_kids", Object.values(this.my_kids))
    },
    selection_handler(data) {
      if(data === undefined)
          return

      let filtered_kids = []
      for (let i = 0; i < data.points.length; i++) {
          let plot_point = data.points[i]
          filtered_kids.push(this.my_kids[plot_point.customdata])
      }
      this.$emit("update:filtered_kids", filtered_kids)
    },
    update_plotly_marker_color(kid) {
      let index = this.namedets.indexOf(kid.namedet)
      let color
      if(this.my_kids[kid.namedet].bad)
        color = "#FF0000"
      else
        color = this.my_kids[kid.namedet].amplitude
      let update = {[`marker.color[${index}]`]: color}
      Plotly.restyle(this.div_id, update, [0])
    },

  },
  mounted() {
    // eslint-disable-next-line no-unused-vars
    this.my_kids = Object.fromEntries(Object.entries(this.kids).filter(([namedet, kid]) => kid.matrix === this.matrix))
    let metadata = Object.values(this.my_kids)
    Plotly.newPlot(this.div_id,
        [{
          x: metadata.map(kid => kid.x0),
          y: metadata.map(kid => kid.y0),
          type: "scattergl",
          mode: "markers",
          marker: {
            color: metadata.map(kid=> kid.amplitude),
            cmin: 0.5,
            cmax: 1.5,
            colorscale: "Viridis"
          },
          customdata: metadata.map(kid => kid.namedet)
        }
        ], {
          margin: {
            l: 50,
            r: 50,
            b: 100,
            t: 100,
            pad: 4
          },
          xaxis: {
            range: [-0.15, 0.15],
          },
          yaxis: {
            range: [-0.15, 0.15],
          },
          dragmode: 'lasso'
        }


    ).then(
        (plt) => {
          plt.on("plotly_selected", (data) => this.selection_handler(data))
          plt.on("plotly_deselect", () => this.deselection_handler())
        }
    )
    let update = metadata.reduce(function(a, e, i) {if(e.bad) {a[`marker.color[${i}]`] = "#FF0000"} return a}, {})
    Plotly.restyle(this.div_id, update, [0])


  }
}
</script>

<style scoped>
#plot-div
{
  width:600px;
  height:600px;
}

</style>