<template>
  <div id="app">
    <div class="app-container">
      <div v-if="loading" class="loader">Loading...</div>

      <el-row>

        <el-col :span="12">
          <span>Matrix to work on : </span>
          <el-button @click="selected_matrix=1">1</el-button>
          <el-button @click="selected_matrix=2">2</el-button>

          <KidsGrid @thumb_clicked="thumb_clicked($event)" @thumb_dblclicked="thumb_dblclicked($event)"
                    :kids="shown_kids"></KidsGrid>
          <!--      <Paginator v-model:first="first" :rows="records_per_page" :totalRecords="nb_filtered_kids" @page="on_page($event)"></Paginator>-->
          <el-pagination :total="nb_filtered_kids" v-model:page-size="records_per_page"
                         v-model:currentPage="current_page">
          </el-pagination>
        </el-col>

        <el-col :span="12">


          <PlotlyKidsScatter :namedets="namedets" ref="plot" v-if="!loading && selected_matrix===1" :kids="kids"
                             :matrix="1" v-model:filtered_kids="filtered_kids"></PlotlyKidsScatter>


          <PlotlyKidsScatter :namedets="namedets" ref="plot" v-if="!loading && selected_matrix===2" :kids="kids"
                             :matrix="2" v-model:filtered_kids="filtered_kids"></PlotlyKidsScatter>

          <el-button type="primary" :loading="export_loading" @click="export_kidpar">Export</el-button>
        </el-col>

      </el-row>
    </div>

    <!--    <Toast/>-->

    <el-dialog
      v-model="modal_show"
      width="500px">
      <template #title>
        kid
      </template>
      <div class="modal-body">
        <img
          v-if="!modal_loading"
          :src="full_image_url"
          id="modal_img"
          alt="Kid full image"
        />
        <div v-if="modal_loading" class="loader">Loading...</div>
      </div>

      <template #footer>
        <span class="dialog-footer">
          <el-button type="primary" @click="modal_show = false">Close</el-button>
        </span>
      </template>
    </el-dialog>

<!--    <Modal v-if="modal_show" @close="modal_show = false" :loading="modal_loading" :src="full_image_url"></Modal>-->
  </div>
</template>

<script>
import KidsApi from "@/api/kids_api";
import Kid from "@/api/kid";
import KidsGrid from "@/components/KidsGrid";
import PlotlyKidsScatter from "@/components/PlotlyKidsScatter";

export default {
  data() {
    return {
      kids: {},
      selected_matrix: 1,
      filtered_kids: [],
      modal_show: false,
      modal_loading: true,
      export_loading: false,
      api: new KidsApi(),
      namedets: [],
      records_per_page: 30,
      current_page: 1,
      full_image_url: "",
      loading: true
    }
  },
  components: {
    KidsGrid,
    // Modal,
    PlotlyKidsScatter
  },
  computed: {
    shown_kids() {
      if (this.filtered_kids.size === 0)
        return []

      return this.filtered_kids.slice((this.current_page - 1) * this.records_per_page, this.current_page * this.records_per_page)
    },
    num_pages() {
      return Math.ceil(this.filtered_kids.length / this.records_per_page)
    },
    nb_filtered_kids() {
      return this.filtered_kids.length
    },
    kids_per_selected_matrix() {
      // eslint-disable-next-line no-unused-vars
      return Object.fromEntries(Object.entries(this.kids).filter(([namedet, kid]) => kid.matrix === this.selected_matrix))
    }
  },

  watch: {
    current_page() {
      this.get_thumbnails()
    },
    filtered_kids() {
      this.get_thumbnails()

    },
    selected_matrix() {
      this.filtered_kids = Object.values(this.kids_per_selected_matrix)
    }
  },

  methods: {
    export_kidpar() {
      this.export_loading = true
      let payload = Object.values(this.kids).map((kid) => {
          return {"QA": kid.bad, "namedet": kid.namedet}
      })
      console.log(payload)
      this.api.export(payload).then(
          () => {
            localStorage.setItem("kids_state", "[]")
            this.$message({message:"Kidpar successfully exported", type:"success"});
            // this.current_page = 1
          }
      ).catch(
          (e) => {
            this.$message({message:e, type:"error"})
          }
      ).finally(
          () => {
            this.export_loading = false
          }
      )
    },
    next_page() {
      if (this.current_page < this.num_pages - 1) {
        this.current_page++
      }
    },
    prev_page() {
      if (this.current_page > 1) {
        this.current_page--
      }
    },
    init_metadata(metadata) {

      this.namedets = metadata.map(kid => kid.namedet)

      let state = localStorage.getItem("kids_state")
      if (state == null) {
        localStorage.setItem("kids_state", "[]")
        state = []
      }

      for (let meta of metadata) {
        if (state.includes(meta.namedet)) {
          meta.QA = true
        }
        this.kids[meta.namedet] = new Kid(meta)
      }
      this.filtered_kids = Object.values(this.kids_per_selected_matrix)

      this.get_thumbnails()


    },
    get_thumbnails: function () {
      let namedets_missing_thumbs = this.shown_kids.filter(kid => kid.src === "").map(kid => kid.namedet)
      if(namedets_missing_thumbs.length === 0)
        return
      this.api.getThumbnails(namedets_missing_thumbs).then(
          (thumb_urls) => {
            for (let namedet of Object.keys(thumb_urls)) {
              this.kids[namedet].src = thumb_urls[namedet]
            }
          }
      )
    },

    async thumb_dblclicked(kid) {
      this.modal_loading = true
      this.modal_show = true
      this.header = kid.namedet

      try {
        this.full_image_url = await this.api.getFullImage(kid.namedet)
      } catch (e) {
        this.$message({type: 'error', summary: e});
      } finally {
        this.modal_loading = false
      }
    },

    thumb_clicked: function (kid) {
      kid.toggle_bad_flag()
      this.$refs.plot.update_plotly_marker_color(kid)
      this.add_to_local_storage(kid)
    },
    add_to_local_storage(kid) {
      let storage = JSON.parse(localStorage.getItem("kids_state"))
      if (kid.bad) {
        storage.push(kid.namedet)
      } else {
        storage = storage.filter(item => ![kid.namedet].includes(item))
      }
      localStorage.setItem("kids_state", JSON.stringify(storage))
    },
    checkKey(e) {
      if (e.keyCode === 37) {
        // left arrow
        this.prev_page()
      } else if (e.keyCode === 39) {
        // right arrow
        this.next_page()
      } else if (e.keyCode === 27) {
        // escape
        this.modal_show = false
      }
    }


  },
  created() {
    let uri = window.location.search.substring(1);
    let params = new URLSearchParams(uri);
    const scan_id = params.get("scan");

    this.api.getMetadata(scan_id)
        .then((metadata) => this.init_metadata(metadata))
        .catch(
            (e) =>
                this.$notify.error({
                  title: "Error",
                  message: e
                })
        ).finally(() => this.loading = false)

    document.addEventListener("keydown", this.checkKey)
  },

  unmounted() {
    document.removeEventListener("keydown", this.checkKey)
  }


}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

.app-container {
  text-align: center;
}

body #app .p-button {
  margin-left: .2em;
}

form {
  margin-top: 2em;
}
</style>